<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
	<title>cus - chatbot update system</title>
	<link rel="stylesheet" href="./styles.css" />
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
':35729/livereload.js?snipver=2"></' + 'script>')</script>
	<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
<div id="app" @click="resetSelectedChat()">
	<div class="help">?</div>
	<br />
	<div class="left reports red">
		<div class="left inappropriateNum"><span class="big-numbers">{{ inappropriateNumber }}</span></div>
		<div class="left inappropriateDesc">inappropriate responses left</div>
	</div>
	<div class="left reports green">
		<div class="left correctedNum"><span class="big-numbers">{{ correctedNum }}</span><br />corrected responses<br /></div>
		<div class="left correctedDesc">
			{{ correctedToday}} today<br />
			{{ correctedWeek }} this week<br />
			{{ correctedMonth }} this month<br />
		</div>
	</div>
	<br class="clear" />
	<hr />
	<div id="workareas">
		<div id="workarea1" ref="workarea11">
			<div v-show="doneMessage !== ''" class="chats">
				<div class="sas">{{ doneMessage }}</div>
			</div>
			<div v-show="doneMessage === ''" class="chats" v-for="(toCorrect, index) in onesToCorrect">
				<span class="clickable" :key="toCorrect.id" @click="selectChat(index)">
					<div :class="{ sas: !toCorrect.selected, selected: toCorrect.selected }" v-for="corr in toCorrect.chats">{{ corr }}<br /><br /></div>
				</span>
			</div>
		</div>
		<div id="workarea2" :style="{ height: workarea1Height }">
			<div class="select">select correct responses<br />
				<ul>
					<li class="clickable boxed" v-for="(possibility, index) in correctPossibilities" @click.prevent="selectCorrection(possibility.id)"><span class="spaced">{{ possibility.text }}</span></li>
				</ul>
				<input type="text" value="custom response" /><br />
				<button @keypress.prevent="" @click.prevent="correctTheChat()">save</button>
			</div>
		</div>
	</div>
	<br class="clear" />
	<hr />
	<div id="correctionMessage">{{ correctionMessage }}</div>
</div>
    <!-- Import App -->
    <script src="./5prototype.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
</body>
</html>
